.imgAnimate{
    position: absolute;
    right: 231px;
    top: 20%;
    z-index: 11;
    width: 565px;
    height: 565px; 
    animation: imgAnimate 3s linear infinite;
}
@keyframes imgAnimate{
    0% { transform:translateY(0) translateX(0); }
    50%{transform: translateY(15px) translateX(7px);}
    100% { transform:translateY(0) translateX(0); }
}
.hero-section{
    /* border: 10px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    /* border: 1px solid yellow; */
    background-image: url("../Assets/hero_section_bg_img.png");
   
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
}
.bg2-div{
    /* border: 1px solid blue; */
    position: absolute;
    background: url("../Assets/hero_section_bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    left: 35px;
    top: 390px;
    width: 468px;
    height: 336px;
}
.hero-section-text-div {
    /* border: 1px solid black; */
    position: relative;
    padding-left: 250px;
    padding-right: 250px;
  }
 .hero-section-text-div span {
    /* border: 1px solid red; */
    display: inline-block;
    padding: 7px 20px 4px;
    background: #fff;
    border-radius: 20px;
    color: #088998;
    font-weight: 600;
    margin-bottom: 20px;
    
  }
.hero-section-text-div .slide-title h2 {
    color: #062265;
    /* border: 1px solid black; */
    font-family: 'Conv_Now-Bold';
    font-size: 50px;
    margin: 0 0 0.45em;
    line-height: 80px;
}
.hero-section-text-div .slide-subtitle p {
    /* border: 1px solid black; */
    color: #666666;
    color: #777777;
    line-height: 1.8em;
    font-size: 16px;
    font-weight: 400;

    color: #777777;
    line-height: 1.8em;
    font-size: 16px;
    font-weight: 400;
    
}
@media (max-width: 1000px) {

    .hero-section{
        /* border: 1px solid red; */
        height: 950px;
    }
    .hero-section-text-div .slide-title h2 {
        color: #062265;
        /* border: 1px solid red; */
        font-family: 'Conv_Now-Bold';
        font-size: 40px;
        text-align: center;
    }

    .hero-section-text-div .slide-subtitle p {
        text-align: center;
    }

    .imgAnimate{
        display: none;
    }
    .hero-section-text-div {
        
        position: relative;
        padding: 0;
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-self: center;
      }
}

/* media queries */
@media (max-width: 1400px) and (min-width: 1000px) {
.hero-section-text-div {
        padding-left: 150px;
}
.hero-section-text-div .slide-title h2 {
    color: #062265;
    font-family: 'Conv_Now-Bold';
    font-size: 44px;
}
.hero-section-text-div .slide-subtitle p {
    /* border: 1px solid black; */
    color: #666666;
    line-height: 1.5em;
    font-size: 16px;
    font-weight: 400;
    max-width: 600px;
    
}

.bg2-div{
    top: 390px;
    width: 300px;
    height: 336px;
}
.imgAnimate{
    /* border: 1px solid blueviolet; */
    position: absolute;
    top: 20%;
    right: 15px;

    height: 50%;
    width: 35%;
    animation: imgAnimate 3s linear infinite;
}
.hero-img{
    /* border: 1px solid blueviolet; */
    height: 100%;
    width: 100%; 
    animation: imgAnimate 3s linear infinite;
}
}


@media (max-width: 1600px) and (min-width: 1400px) {
    .imgAnimate{
        /* border: 1px solid blueviolet; */
        position: absolute;
        top: 20%;
        right: 30px;
        
        height: 55%;
        width: 38%;
        animation: imgAnimate 3s linear infinite;
    }
    .hero-img{
        /* border: 1px solid blueviolet; */
        height: 100%; 
        width: 100%;
        animation: imgAnimate 3s linear infinite;
    }
}

@media (max-width: 1900px) and (min-width: 1600px) {
    .imgAnimate{
        /* border: 1px solid blueviolet; */
        position: absolute;
        top: 20%;
        right: 30px;
        
        height: 55%;
        width: 38%;
        animation: imgAnimate 3s linear infinite;
    }
    .hero-img{
        /* border: 1px solid blueviolet; */
        height: 100%; 
        width: 100%;
        animation: imgAnimate 3s linear infinite;
    }
}